@font-face {
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  font-style: normal;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
}

* {
  -webkit-appearance: none;
  -moz-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

/* Header */

.header {
  position: relative;
  width: 100%;
  min-width: 1230px;

  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-color: #000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header::after {
  content: "";
  position: absolute;
  background-color: #000;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  opacity: 0.6;
}

.header-container {
  width: 100%;
  max-width: 1170px;
  padding: 28px 15px 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 98px;
}

.header-logo-img {
  height: 41px;
  color: #fff; /* Color for text, if image broken */
}

.menu {
  font-size: 13px;
}

.menu-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.menu-list-item {
  padding-right: 35px;
}

.menu-list-item:last-child {
  padding-right: 0;
}

.menu-link {
  position: relative;

  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  transition: color 0.1s linear;
}

.menu-link:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;

  background-color: #fce38a;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}

.menu-link:hover {
  color: #fce38a;
}

.menu-link:hover:after {
  opacity: 1;
}

.header-text {
  width: 800px;
  min-width: 735px;
  margin: 0 auto;
  padding-bottom: 125px;

  font-size: 45px;
  font-weight: 700;
  line-height: 75px;
  color: #fff;

  text-align: center;
  text-transform: uppercase;
}

/* News */

.news {
  display: flex;
  width: 1170px;
  padding: 0 15px;
  margin: 64px auto;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 120px;
  width: 778px;
}

.news-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
}

.news-item:last-child {
  margin-bottom: 0;
}

.news-img {
  display: block;
  width: 100%;
  margin-right: 30px;
}

.news-tags {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;

  text-transform: uppercase;
}

.news-tags li:nth-child(n + 2) {
  padding-left: 19px;
}

.news-tags li {
  padding-bottom: 5px;
}

.news-tags-link {
  color: #b59f5b;
  text-decoration: none;
}

.news-tags-link:hover {
  text-decoration: underline;
}

.news-title {
  padding-bottom: 24px;
}

.news-title-link {
  font-size: 20px;
  font-weight: 700;
  color: #0f0d0e;

  text-transform: uppercase;
  text-decoration: none;
}

.news-title-link:hover {
  text-decoration: underline;
}

.news-date {
  font-size: 12px;
  color: #888;
}

.news-author {
  padding-left: 14px;
  color: #000;
  font-weight: 700;
}

.news-text {
  margin-top: 47px;
  font-size: 15px;
  color: #0f0d0e;
}

/* Sidebar */

.sidebar {
  width: 272px;
}

.sidebar-recent {
  margin-bottom: 67px;
}

.sidebar-title {
  font-size: 14px;
  font-weight: 700;
  color: #0f0d0e;

  text-transform: uppercase;
  text-align: center;
}

.sidebar-title:after {
  content: "";
  display: block;
  margin: 11px auto 20px;

  height: 3px;
  width: 66px;

  background-color: #b59f5b;
}

.recent-item {
  display: flex;
  margin-bottom: 22px;
}

.recent-img {
  margin-right: 19px;
}

.recent-date {
  font-size: 12px;
  color: #000;
}

.recent-text {
  padding-top: 4px;
  font-size: 14px;
  font-weight: 700;

  text-transform: uppercase;
}

.recent-text-link {
  color: #000;
  text-decoration: none;
}

.recent-text-link:hover {
  text-decoration: underline;
}

/* Search */
.section-search {
  margin-bottom: 62px;
}

.search {
  position: relative;
}

.field {
  width: 252px;
  height: 47px;
  padding-left: 20px;

  background-color: #f4f7f6;
  font-size: 13px;
  line-height: 40px;
  color: #000;
  border: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.field:placeholder {
  font-size: 13px;
  line-height: 40px;
  color: #000;
}

.search-button {
  padding: 0;
  width: 48px;
  height: 48px;

  border: 0;
  cursor: pointer;
  outline: none;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  background-color: #b59f5b;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center center;

  -webkit-appearance: none;
  -moz-appearance: none;

  transition: background-color 0.1s linear;
}

.search-button:hover {
  background-color: #857136;
}

.search-button:focus {
  outline: none;
  border: 1px solid #4d90fe;
  box-shadow: 0px 0px 5px #4d90fe;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

/* Subscribe */

.subscribe {
  margin-bottom: 60px;
}

.subscribe-button {
  margin-top: 19px;
  padding: 0;
  width: 272px;
  height: 48px;

  background-color: #b59f5b;
  border: 0;
  cursor: pointer;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  -webkit-appearance: none;
  -moz-appearance: none;

  transition: background-color 0.1s linear;
}

.subscribe-button:hover {
  background-color: #857136;
}

/* Tags */
.tags {
  margin-bottom: 42px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.tags-link {
  margin: 0 4px 6px 0;

  border: 3px solid #eee;
  list-style-type: none;
  line-height: 1.2;

  transition: border 0.1s linear;
}

.tags-link:hover {
  border: 3px solid #c7c5c5;
}

.link {
  display: block;
  padding: 7px 13px;

  font-size: 12px;
  font-weight: 700;
  color: #0f0d0e;

  text-transform: uppercase;
  text-decoration: none;
}

/* Categories */
.categories-text {
  margin: 0;
  padding: 0;
}

.categories-order {
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 3px;

  color: #000;
  border-bottom: 1px solid #eeee;
  list-style-type: none;

  transition: all 0.1s linear;
}

.categories-order:hover {
  transform: translateX(10px);
}

.text-link {
  color: inherit;
  text-decoration: none;
}

.suptitle-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
}

/* Footer */

.footer {
  margin: 60px auto 0;
  padding: 0 15px;
  width: 1170px;

  text-align: center;
}

.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 63px;
  height: 100px;

  background-color: #f4f7f6;
}

.footer-icon {
  margin: 0;
  padding: 0;
  display: flex;

  list-style-type: none;
}

.items-link-pinterest,
.items-link-facebook,
.items-link-tumblr,
.items-link-twitter,
.items-link-instagram {
  background-size: cover;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  margin-left: 26px;
  
  cursor: pointer;

  opacity: 0.6;
  transition: opacity 0.1s linear;
}

.footer-icon li:first-child {
  margin: 0;
}

.items-link-pinterest {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.items-link-facebook {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.items-link-tumblr {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.items-link-twitter {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.items-link-instagram {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.items-link-pinterest:hover,
.items-link-facebook:hover,
.items-link-tumblr:hover,
.items-link-twitter:hover,
.items-link-instagram:hover {
  opacity: 1;
}

/* Copyright */
.copyright-text {
  display: block;
  margin-bottom: 33px;
  font-size: 12px;
  font-weight: 700;
  color: #999;

  text-decoration: none;
  transition: color 0.1s linear;
}

.copyright-text:hover {
  color: #000;
}
